.subscribeInput {
  height: 45px;
  padding: 0px 80px 0px 40px;
  margin-right: 5px;
  background-color: rgba(219, 219, 219, 0.1);
  background-image: url("email.png");
  background-position: 10px 55%;
  background-repeat: no-repeat;
  background-size: 18px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.068);
  font-size: 13px;
  line-height: 23px;
}

.form {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}
.form button {
  height: 47px;
  border: none;
  background-color: black;
  color: white;
  padding: 0px 60px;
}
.form button:hover {
  background-color: red;
  cursor: pointer;
}
.checkBox {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 8px;
  font-size: 13px;
  color: rgba(0, 0, 0, 0.342);
  font-weight: 600;
  margin-top: 25px;
}

@media screen and (max-width: 583px) {
  .subscribeInput {
    padding: 0px 50px 0px 40px;
  }

  .form button {
    padding: 0px 40px;
  }
}

@media screen and (max-width: 510px) {
  .subscribeInput {
    padding: 0px 35px 0px 40px;
    width: 100%;
  }

  .form button {
    padding: 0px 40px;
    width: 100%;
    margin-top: 20px;
  }
}
