.footer {
  display: flex;
  font-size: 11px;
  justify-content: center;
  padding: 30px 0px;
  background-color: #f0ecec94;
  gap: 2px;
  color: rgba(0, 0, 0, 0.507);
  font-weight: 600;
  font-family: "Roboto", sans-serif;
}

.footer span {
  color: black;
}

.footer a:hover {
  color: rgba(189, 15, 15, 0.849);
}

.links {
  color: black;
  text-decoration: none;
}
