.sectionFour {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;

  padding: 100px 0px;
}
.container {
  border-bottom: 1px solid rgba(0, 0, 0, 0.192);
}

.about p {
  color: rgb(194, 42, 42);
  font-size: 15px;
  letter-spacing: 2px;
  text-align: center;
}
.about h3 {
  font-size: 40px;
  font-weight: 500;
  margin: 20px 0px;
  letter-spacing: 2px;
  text-align: center;
}

.float {
  position: absolute;
  left: 4%;
  top: 37%;
}

/* media */

@media screen and (max-width: 996px) {
  .sectionFour {
    margin: 0px 50px;
  }
  .float {
    display: none;
  }
}
