.itemsList {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.3rem;
  width: 60.5%;
  margin: 40px 0px;
}
.content {
  border-bottom: 1px solid rgba(0, 0, 0, 0.116);
  display: flex;
  flex-direction: column;
}
.content img {
  width: 100%;
  vertical-align: middle;
  display: inline-block;
  cursor: pointer;
}
