.content {
  border-bottom: 1px solid rgba(0, 0, 0, 0.116);
  display: flex;
  flex-direction: column;
}
.content img {
  width: 100%;
  vertical-align: middle;
  display: inline-block;
  cursor: pointer;
  overflow: hidden;
}

.content img:hover {
  animation: pulse 2s ease-in;
}
.content:hover {
  border-bottom: 1px solid red;
  overflow: hidden;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}

.link {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.452);
  font-family: "Roboto", sans-serif;
}
.link p {
  margin-top: 20px;
}
.link p:hover {
  color: rgb(179, 26, 26);
}
.price {
  font-weight: 600;
  font-size: 14px;
  margin-top: 10px;
  margin-bottom: 20px;
}

/* media  */
