.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f0ecec73;
  padding: 100px;
  position: relative;
  gap: 30px;
}

.container {
  display: flex;
  justify-content: space-between;
  background-color: white;
  padding: 20px;
  padding-right: 60px;
  width: 600px;
  border: 1px solid rgba(0, 0, 0, 0.027);
}

.contentImage {
  width: 100px;
  height: 100px;
  background-image: url("/imagelicense.jpg");
  background-position: 50%;
  background-size: cover;
}
.contentImage2 {
  background-image: url("/iconlicense.jpg");
}

.float {
  position: absolute;
  left: 4%;
  top: 30%;
}
.info {
  display: flex;
  justify-content: space-between;
  width: 450px;
  align-items: center;
}
.link {
  color: rgba(0, 0, 0, 0.479);
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
  color: rgb(182, 23, 23);
}

@media screen and (max-width: 996px) {
  .float {
    display: none;
  }
  .container {
    width: 100%;
    gap: 20px;
  }
  .contentImage {
    width: 100px;
  }
  .info {
    width: 50%;
    gap: 20px;
  }
}

@media screen and (max-width: 433px) {
  .contentImage {
    width: 50%;
  }
  .info {
    width: 30%;
    font-size: 12px;
  }
}

@media screen and (max-width: 363px) {
  .container {
    gap: 5px;
  }
}
