.section {
  display: flex;
  justify-content: center;
  padding-top: 130px;
  border-top: 1px solid rgba(0, 0, 0, 0.212);
}

.image img {
  width: 88%;
}

.description h3 {
  color: rgba(199, 17, 17, 0.664);
  font-weight: 400;
  font-size: 14px;
}
.description h2 {
  font-weight: 500;
  font-size: 27px;
}
.image {
  padding-bottom: 100px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.212);
}
.info {
  padding-bottom: 100px;
  width: 29%;
  margin-right: 55px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.212);
}
.description p {
  font-weight: 400;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.562);
  font-family: "Roboto", sans-serif;
  width: 80%;
  line-height: 24px;
}
.description span {
  font-weight: 500;
  color: black;
}

.description {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.details {
  margin-top: 30px;
  line-height: 40px;
}
.details span {
  font-size: 15px;
  color: rgba(0, 0, 0, 0.411);
  font-weight: 300;
  padding-left: 10px;
  font-family: "Roboto", sans-serif;
}
.quantity {
  display: flex;
  flex-direction: column;
  margin-top: 25px;
}
.quantity button {
  padding: 25px;
  width: 130px;
  font-size: 15pxpx;
  color: white;
  background-color: rgb(168, 14, 14);
  border: none;
  margin: 12px 0px;
  cursor: pointer;
}
.quantity button:hover {
  background-color: black;
}
.quantity input {
  width: 40px;
  padding: 9px;
  background-color: rgba(0, 0, 0, 0.103);
  border: 1px solid rgba(0, 0, 0, 0.233);
}
.share {
  display: flex;
}

/* MEDIA */
@media screen and (max-width: 996px) {
  .section {
    flex-direction: column;

    padding-left: 50px;
    padding-right: 50px;
  }
  .image {
    width: 100%;
    padding-bottom: 50px;
    border-bottom: none;
  }

  .info {
    width: 100%;
  }
}
