.itemsList {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.3rem;
  width: 60.5%;
  margin: 40px 0px;
}

.content {
  border-bottom: 1px solid rgba(0, 0, 0, 0.116);
  display: flex;
  flex-direction: column;
}
.content img {
  width: 100%;
  vertical-align: middle;
  display: inline-block;
}

.btn {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  width: 60.5%;
  font-size: 20px;
}

.section {
  padding: 100px 0px;
}
.link {
  color: white;
  text-decoration: none;
}

@media screen and (max-width: 996px) {
  .itemsList {
    width: 100%;
  }
  .section {
    padding: 100px 30px;
  }
}

@media screen and (max-width: 771px) {
  .itemsList {
    display: flex;
    flex-direction: column;
  }
}
