@import url("https://fonts.googleapis.com/css2?family=Playfair Display:wght@400;500;600&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
body {
  font-family: "Playfair Display", sans-serif;
  font-family: "Pacifico", cursive;
  font-family: "Roboto", sans-serif;
  font-family: "Poppins", sans-serif;
}
